 {{#each site.categories as |c|}} {{#if (is-collective c.name)}}
<tr class="input collective-selectors">
  <td class="label">
    <label for="{{ c.name }}">{{ c.name }}</label>
  </td>
  <td>
    {{input type="checkbox" name="debt-type" id=c.name change=(action "collectiveSelected")}}
  </td>
</tr>
{{/if}} {{/each}}

<tr class="input tdc-field {{if isDebtor " tdc-visible "}}">
  <td class="label">
    <label for="debt-amount">Debt Amount</label>
  </td>
  <td>
    {{input value=store.customFields.debt_amount id="debt-amount" name="debt-amount" required=isDebtor}}
    &nbsp;{{input-tip validation=debtAmountValidation id="debt-amount-validation"}}
  </td>
</tr>
<tr class="input tdc-field {{if isInSolidarity 'tdc-visible'}}">
  <td class="label">
    <label for="solidarity-how-can-you-help">How can you help the debt collective?</label>
  </td>
  <td>
    {{input value=store.customFields.solidarityHowCanYouHelp type="text" name="solidarity-how-can-you-help" id="solidarity-how-can-you-help"}}
  </td>
</tr>
<tr class="input tdc-field {{if isInSolidarity 'tdc-visible'}}">
  <td class="label">
    <label for="solidarity-employment">Job Title</label>
  </td>
  <td>
    {{input value=store.customFields.solidarityEmployment type="text" name="solidarity-employment" id="solidarity-employment"}}
  </td>
</tr>
<tr class="input tdc-field {{if isInSolidarity 'tdc-visible'}}">
  <td class="label">
    <label for="solidarity-skills">Skills/Competencies</label>
  </td>
  <td>
    {{input value=store.customFields.solidaritySkills type="text" name="solidarity-skils" id="solidarity-skills"}}
  </td>
</tr>
<tr class="input tdc-field {{if isInSolidarity 'tdc-visible'}}">
  <td class="label">
    <label for="phone">Phone Number</label>
  </td>
  <td>
    {{input value=store.customFields.solidarityPhone type="text" name="phone" id="phone"}}
  </td>
</tr>