<tr class="input">
  <td>What kinds of debt do you have?</td>
  <td class="collective-selectors controls">
    {{#each site.group_names as |group|}}
      {{#if (is-collective group.full_name)}}
        <label for="{{ group.name }}">
          {{input type="checkbox" name="debt-type" id=group.name
                  change=(action "collectiveSelected")}}
          {{name-minus-collective group.full_name}}
        </label>
      {{/if}}
    {{/each}}
    {{#if noCollectives}}
      <p>Run discourse-seed!</p>
    {{/if}}
  </td>
</tr>

{{#if isDebtor }}
  <tr class="input">
    <td>
      <label for="debt-amount" class="control-label">Debt Amount</label>
    </td>
    <td class="controls">
      {{input value=store.customFields.debt_amount id="debt-amount" name="debt-amount" required=isDebtor}}
      <!--   &nbsp;{{input-tip validation=debtAmountValidation id="debt-amount-validation"}} -->
    </td>
  </tr>
  <tr class="instructions">
    <td></td>
    <td><label>a number greater than 0</label></td>
  </tr>

{{/if}}

{{#if isInSolidarity }}
  <tr class="input">
    <td>
      <label for="solidarity-how-can-you-help">How can you help the debt collective?</label>
    </td>
    <td>
      {{input value=store.customFields.solidarityHowCanYouHelp type="text" name="solidarity-how-can-you-help" id="solidarity-how-can-you-help"}}
    </td>
  </tr>
  <tr class="input">
    <td>
      <label for="solidarity-employment">Job Title</label>
    </td>
    <td>
      {{input value=store.customFields.solidarityEmployment type="text" name="solidarity-employment" id="solidarity-employment"}}
    </td>
  </tr>
  <tr class="input">
    <td>
      <label for="solidarity-skills">Skills & Com&shy;pe&shy;ten&shy;cies</label> <!-- \&shy; is a "soft hyphen" -->
    </td>
    <td>
      {{input value=store.customFields.solidaritySkills type="text" name="solidarity-skills" id="solidarity-skills"}}
    </td>
  </tr>
  <tr class="input">
    <td>
      <label for="phone">Phone Number</label>
    </td>
    <td>
      {{input value=store.customFields.solidarityPhone type="text" name="phone" id="phone"}}
    </td>
  </tr>
{{/if}}
